<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="register" method="POST">
        {% csrf_token %}
        <legend name="register">Register Below</legend>
        <label for="username">Username</label>
        <input type="text" placeholder="username.." name="username">
        <br>
        <label for="email">Email</label>
        <input type="email" placeholder="e.g example.com" name="email"> 
        <br>
        <label for="password">Password</label>
        <input type="password" placeholder="password.." name="password"> 
        <br>
        <label for="password2">Re-enter Password</label>
        <input type="password" placeholder="re-enter password.." name="password2">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>